.newCard {
    width: 200px;
    height: 200px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 999;
}
.closeButton {
    background-color: rgb(235, 74, 74);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    padding: 0;
    font-size: 17px;
}
.closeButton:focus {
    outline:0;
}
.newCard form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newCard form input, select{
    width: 160px;
    height: 25px;
    margin-top: 10px;
    border: none;
    background-color: rgb(194, 202, 209);
    border-radius: 5px;
    text-align: center;
}
.newCard form input:hover, select:hover {
    background-color: rgb(134, 162, 187);
    color: rgb(255, 255, 255);
}
.newCard form input:hover::placeholder {
    color: rgb(226, 225, 225);
}
::placeholder {
    color: rgb(155, 153, 153);
}
.newCard form button {
    position: absolute;
    bottom: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(194, 202, 209);
    cursor: pointer;
}
.newCard button:hover {
    background-color: rgb(134, 162, 187);
}