.signOutButton{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-item-bg-color);
    color: var(--primary-item-font-color);
    cursor: pointer;
}
.profileDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.profileUser{
    display: flex;
    flex-direction: column;
}