* {
    --primary-item-bg-color: rgb(66, 102, 185);
    --primary-item-font-color: white;
}
.h1Background {
 color: white;
 position: absolute;
}
.mainApp {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.card {
    width: 200px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--primary-item-bg-color);
    padding: 10px;
    margin: 10px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card .cardTitle {
    color: var(--primary-item-font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.card .cardTitle input {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: var(--primary-item-font-color);
}
.cardOptionsButton {
    border: none;
    width: 25px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 3px;
    color: rgb(182, 182, 182);
    font-size: 18px;
}
.cardOptionsButton:hover {
    background-color: rgba(255, 255, 255, 0.267);
}
.cardOptionsButton:focus {
    outline: 0;
}
.cardOptions {
    position: absolute;
    right: 0;
    top: 20px;
    width: 100px;
    min-height: 100px;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
}
.active {
    background-color: aliceblue;
    z-index: 1;
}
.cardOptions button {
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 5px;
}
.cardOptions button:hover {
    background-color: rgb(170, 170, 170);
}
.card .addItem {
    position: absolute;
    bottom: 10px;
    border: none;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0);
    color: var(--primary-item-font-color);
    font-size: 16px;
    cursor: pointer;
}
.card .addItem:hover{
    background-color: rgba(255, 255, 255, 0.247);
}
.card .addItem:focus{
    outline: 0;
}
.card .cardBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 48px);
    align-items: center;
    overflow: auto ;
}
.card .cardBody .subItem{
width: 95%;
min-height: 40px;
background-color: var(--primary-item-font-color);
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 2px;
}
.card .cardBody .subItem img {
    width: 10px;
    border: none;
}
.card .cardBody .subItem button {
    border: none;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
}
.card .cardBody .subItem button:hover {
    opacity: 0.7;
}
.card .cardBody .subItem button:focus{
    outline: 0;
}
.card .cardBody .subItem .deleteButton{
    width: 16px;
    height: 16px;
    font-size: 12px;
    padding: 0;
    background-color: red;
    border-radius: 50%;
    color: var(--primary-item-font-color);
}
.card .cardBody .subItem .deleteButton:hover{
    content: counter(name);
}
.card .cardBody .subItem input{
    width: 110px;
    padding: 5px;
    border: none;
    margin: 5px;
}
.card .cardBody .subItem .subItemBody {
    width: 0;
    height: 0;
    z-index: -1;
}
.card .cardBody .subItem .subItemBody *{
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -999;
}
.card .cardBody .subItem .subItemBody textarea{
    padding: 8px;
    min-height: 40px;
    border: none;
}
.card .cardBody .subItem .active {
    width: auto;
    height: auto;
    opacity: 1;
    z-index: 1;
}
/* CALENDÃRIO */
.calendar {
    background: var(--primary-item-bg-color);
    border: 1px solid #a0a096;
    border-radius: 20px;
    height: 400px;
    padding: 15px 10px 5px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    color:var(--primary-item-font-color);
  }
  .calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    position: relative;
  }
  .calendarHeader .cardOptionsButton {
    color: #bbbbbb;
  }
  .calendar span {
      color: var(--primary-item-font-color);
  }
  .calendar input {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: var(--primary-item-font-color);
    text-align: center;
  }
  .calendar abbr {
      text-decoration: none;
  }
  .buttonAdd button {
      position: absolute;
      bottom: 10px;
      left: 36%;
    display: flex;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    color: var(--primary-item-font-color);
    font-size: 16px;
  }
  .buttonAdd button:hover {
    background-color: rgba(255, 255, 255, 0.267);
  }
  .dayItem {
    margin-left: 20px;
  }
  .dayItem span {
    color: rgb(182, 182, 182);
  }
  .react-calendar {
    width: 350px;
    height: 280px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-item-font-color);
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    border-radius: 10px;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: var(--primary-item-font-color);
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: rgba(255, 255, 255, 0.267);
  }
  .react-calendar__navigation button[disabled] {
    background-color: #8d8d8d;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75em;
    color: var(--primary-item-font-color);
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day{
    color: var(--primary-item-font-color);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #c22222;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: rgba(255, 255, 255, 0.267);
  }
  .react-calendar__tile--now {
    background: rgba(14, 114, 1, 0.527);
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #2ea001;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #d7e9fc59;
    color: rgb(255, 255, 255);
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1088ff8c;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  