.body {
    padding: 0;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.new {
    background-color: rgb(85, 228, 80);
    cursor: pointer;
}
.config {
    background-color: gray;
    cursor: pointer;
}